* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.body-center {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #e5e7eb;
}

.container {
    padding: 30px 50px;
    background-color: #1f2937;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin: 0 auto; */
}

.container-liste {
   
    width: 100%;
  }



.container .form {
    padding: 10px 30px;
    width: 100%;
}

.container .form h2{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #e5e7eb;
    margin-bottom: 20px;
}

.container .form .input-box {
    margin-bottom: 5px;
}

.CM {
    color: #e5e7eb;
}

.container .form .input-box input {
    border: none;
    outline: none;
    border-bottom: 1px solid #8a8a8a;
    padding: 20px 0;
    background-color: #1f2937;
    color: #e5e7eb
}

.input {
    color: #e5e7eb;
}

.form select {
    background-color: #1f2937;
    color: #e5e7eb;
}

.link {
    display:flex;
    justify-content: center;
}




.container .form button {
    padding: 10px 30px;
    background-color: #3882f6;
    color: white;
    font: 24px;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 20px;
    margin-top: 20px;
}


#statusFilter {
    display: flex;
    justify-content: center;
    gap: 1.2rem;
    margin-bottom: 2rem;
}

#statusFilter label {
    font-size: 1.2rem;
}

.card {
    border: 1px solid black;
    color: white;
    padding: 20px 40px;
    background-color: #1f2937;
    transition: background-color 0.3s;
    list-style-type: none;
    width: 100%;
    position: relative;
}

.card:nth-child(even) {
    background-color: #022bbdb7;
    color: white;
}

.card p {
    margin-bottom: 5px;
}

.cardContent{
    display: none;
}

.card.expanded .cardContent {
    display: block;
}

.listTitle {
    font-weight: bold;
    
    color: white;
}

.removeButton {
    width: 20px;
    height: 5px;
    position: absolute;
    bottom: 20px;
    right: 55px;
    background-color: #ff0000;
    font-size: 3rem;
    cursor: pointer;
}

.updateStatusButton {
    position: absolute;
    bottom: 3rem;
    right: 50px;
    color: #00FF00;
    font-size: 48px;
    cursor: pointer;
}

.header{
    font-size: 24px;
    color: #e5e7eb;
    /* margin-bottom: 20px; */
    font-weight: bold;
    text-align: center;
    padding: 30px 0px 30px 0px;
    background-color: #3882f6;
    border-bottom: 3px solid black;
}

.container {
    display: flex;
    flex-direction: column;
}

.content {
    width: 100%;
    height: 100vh;
    background-color: lightgray;
    /* width: 90%;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto; */
}

.menu-buttons {
    /* height: 100%;  */
    display: flex;
    width: 90%;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center; 
    margin: 100px auto 0 auto;
    
}

.liste-menu-link {
    display: block;
    color:#e5e7eb;
    outline: 2px solid black;
    padding: 20px 100px;
    text-decoration: none;
    background-color: #1f2937;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    width: 100%;
}

.form-link {
    display: block;
    color:red;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    
}