* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.body-center {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #e5e7eb;
}

.container {
    padding: 30px 50px;
    background-color: #1f2937;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin: 0 auto; */
}

.container-liste {
   
    width: 100%;
  }



.container .form {
    padding: 10px 30px;
    width: 100%;
}

.container .form h2{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #e5e7eb;
    margin-bottom: 20px;
}

.container .form .input-box {
    margin-bottom: 5px;
}

.container .form .input-box input {
    border: none;
    outline: none;
    border-bottom: 1px solid #8a8a8a;
    padding: 20px 0;
    background-color: #1f2937;
    color: #e5e7eb
}

.link {
    display:flex;
    justify-content: center;
}

.liste-link {
    display: block;
    color: red;
    text-decoration: none;
    font-size: 24px;
    margin-top: 20px;
    font-weight: bold;
}

.container .form button {
    padding: 10px 30px;
    background-color: #3882f6;
    color: white;
    font: 24px;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 20px;
    margin-top: 20px;
}

.container-liste .header{
    font-size: 24px;
    color: #1f2937;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
    padding: 10px 0px 20px 0px;
}

.card {
    border: 1px solid black;
    color: white;
    padding: 20px 40px;
    background-color: #1f2937;
    transition: background-color 0.3s;
    list-style-type: none;
    width: 100%;
    position: relative;
}

.card:nth-child(even) {
    background-color: #022bbdb7;
    color: white;
}

.card p {
    margin-bottom: 5px;
}

.cardContent{
    display: none;
}

.card.expanded .cardContent {
    display: block;
}

.removeButton {
    position: absolute;
    top: 2rem;
    right: 10rem;
    color: #ff0000;
    font-size: 48px;
    cursor: pointer;
}

/* .logo {
    width: 30%;
    height: auto;
} */